*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box-header{
  height: auto;
  background-color: #FFF159;
  height: 56px;  
  border: 1px solid rgba(0,0,0,0.1);
}
.header-logo{
  width: 80%;
  margin: auto;
}
.box-background{
  width: 100%;
  height: 296px;
  background-color: #FFEA78;
}
.box-background h2{
  padding-top: 8%;
  padding-left: 15%;
  font-size: 30px;  
  font-family: Arial,sans-serif,sans-serif;
  line-height: 50px;
}
section.artigos{
  width: 100%;
  margin: auto;
  background-color: ;
  height: auto;
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -60px
}
.art-item{
  width: 174px;
  height: 174px;
  background-color: #FFFFFF;
  margin: 10px;  
  transition: 0.2s;
  border: 1px solid rgba(0,0,0,0.1);
  cursor: pointer;
}
.art-item:hover{
  box-shadow: 1px 3px 20px rgba(0,0,0, 0.2);
  transition: 0.3s;
}
article{
  text-align: center;  
}

